li{
    color: aqua
}
body {
    background: url("/images/menu_background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#small-logo{
    margin-top: 35px;
    margin-left: 25px;
}