@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<html>
<head>
    <link rel="stylesheet" href="~/css/Style.css" />
    <title>PizzaMama</title>
</head>
<body class="homePage">
    <div class="center">
        <img src="~/images/main_logo.png" id="main-logo" />
        <br/>
        <a class="homePage" asp-page="MenuPizzas">Voir le menu </a>
    </div>
</body>
</html>


